.idea/
.gradle
.git
build
local.properties
gradle.properties
*.iml
*.project
*/*.project
*.classpath
*/*.classpath
.settings/*
*/.settings/*
/app/pppscn.jks
/app/release/*
/app/build/*
/psd
/keystore/keystore.properties
/app/release
/keystore
*.bak
