*.iml
.gradle
/LocalRepository
/keystores
/local.properties
/.idea/caches
/.idea/codeStyles
/.idea/inspectionProfiles
/.idea/libraries
/.idea/dictionaries
/.idea/markdown-navigator
/.idea/*.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.project
*/*.project
*.classpath
*/*.classpath
.settings/*
*/.settings/*
/app/pppscn.jks
/app/release/*
/app/build/*
/psd
/keystore/keystore.properties
/app/release
/keystore
*.bak
/pic/working_principle.drawio
/app/debug
/.idea
/app/mapping.txt
/app/seeds.txt
/app/unused.txt
/pic/*.bkp
/*.txt
