*.bak
*.classpath
*.iml
*.project
*/*.classpath
*/*.project
*/.settings/*
.DS_Store
.externalNativeBuild
.gradle
.settings/*
/*.txt
/.idea
/LocalRepository
/app/build
/app/debug
/app/mapping.txt
/app/pppscn.jks
/app/release
/app/seeds.txt
/app/src/test
/app/unused.txt
/build
/captures
/keystore
/local.properties
/pic/*.bkp
/pic/*.drawio
/pic/*.vsdx
/psd
/pic/*.psd
